body{
    background: #101923;
}
.programm{
    .programm__wrapper{
        background: rgba(255, 255, 255, 0.1);
    }
    h2{
        color: #fff;
    }
    .programm__atantion{
        background: rgba(255, 255, 255, 0.1);
        box-shadow: none;
        svg{
            path{
                fill: #fff;
            }
        }
        p{
            color: #fff;
        }
    }
}
.faq{
    h2{
        color: #fff;
    }
    .faq__questions{
        .faq__question-outer{
            border-bottom: 0.5px solid #fff;
            .faq__question{
                span{
                    color: #fff;
                }
            }
        }
        .faq__answer_active{
            p{
                color: #fff;
            }
        }
    }
}
.main-form{
    .main-form__left{
        h2{
            color: #fff; 
        }
        .main-form__text{
            color: #fff;
        }
    }
}
.what-doing{
    h2{
        color: #fff;
    }
    .what-doing__main{
        .what_doing__elem{
            background: rgba(255, 255, 255, 0.15);
            .what_doing__elem-header{
                color: #fff;
                span{
                    color: rgba(45, 100, 244, 1);
                }
            }
            .what_doing__elem-text{
                color: #fff;
            }
        }
        .what_doing__elem_second{
            .what_doing__elem-img{
                path{
                    fill: rgba(255, 255, 255, 0.1);
                    fill-opacity: 1;
                }
            }
            @media screen and (max-width:900px){
                .what_doing__elem-img{
                    path{
                        fill: #2D64F4;
                        fill-opacity: 1;
                    }
                }
            }
        }
    }
}
.extreme{
    .extreme__left{
        h2{
            color: #fff;
        }
        p{
            color: #fff;
        }
    }
    .extreme__right{
        .extreme__right-header{
            color: rgba(255, 255, 255, 0.1);
        }
    }
}
.traumas{
    h2{
        color: #fff;
    }
    .traumas__outer{
        .traumas__elem{
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
            border-image: linear-gradient(to right, rgba(255, 255, 255, 0.025), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
            -moz-border-image: -moz-linear-gradient(to right, rgba(255, 255, 255, 0.025), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
            -webkit-border-image: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0.025), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
            border-image-slice: 1;
            span{
                color: #fff;
            }
        }
    }
}
.sport{
    .sport__left{
        h2{
            color: #fff;
        }
        .sport__sports-outer{
            .sport__elem{
                background: rgba(255, 255, 255, 0.1);
                color: #fff;
            }
        }
    }
    .sport__right{
        p{
            color: rgba(255, 255, 255, 0.1); 
        }
    }
}
.slider-header{
    color: rgba(255, 255, 255, 0.1);
}
.slider{
    .slider__elem_visible{
        .slider__text-outer{
            .slider__text2{
                color: #fff;
            }
            .slider__text3{
                color: #fff;
            }
        }
        .slider__next-button{
            button{
                span{
                    color: #fff;
                }
            }
        }
    }
    .slider__elem_active{
        background: rgba(255, 255, 255, 0.15);
        .slider__text-outer{
            .slider__text2{
                color: #2D64F4;
            }
            .slider__text1{
                color: #fff;
            }
            .slider__text3{
                color: #fff;
            }
        }
    }
}
.recomends{
    .slider__elem_visible{
        .recomends__name{
            color: #fff;
        }
        button{
            span{
                color: #fff;
            }
        }
    }
    .slider__elem_active{
        .recomends__rate{
            color: #fff;
        }
        .recomends__text{
            p{
                color: #fff;
            }
        }
    }
}
.one-time{
    color: #fff;
}
.thanks-header{
    color: #fff;
}
.present{
    background: rgba(255, 255, 255, 0.1);
    .present__text{
        color: #fff;
    }
    svg{
        path{
            fill: rgba(255, 255, 255, 0.2);
            fill-opacity: 1;
        }
    }
}
.thanks__message{
    path{
        fill: rgba(255, 255, 255, 0.2);
        fill-opacity: 1;
    }
}
.thanks__what-doing{
    color: #fff;
}
.thanks__text{
    color: #fff;
}
.thanks__all{
    color: rgba(255, 255, 255, 0.1);
}
.thanks__sell{
    path{
        fill: rgba(255, 255, 255, 0.2);
        fill-opacity: 1;
    }
}
.tel{
    span{
        color: #fff;
    }
}
.navigation{
    border-bottom: 0.5px solid #fff;
    &__elem{
        color: #fff;
    }
}
.theme{
    .moon{
        path{
            fill: #fff;
            fill-opacity: 1;
        }
    }
    .sun{
        path{
            fill: #fff;
            fill-opacity: 0.5;
        }
    }
}
.language{
    span{
        color: #fff;
    }
}
.burger{
    background: #fff;
    &:before{
        background: #fff;
    }
    &:after{
        background: #fff;
    }
}
.header_mobile{
    background: #fff;
    .header__right{
        .header__navigation-links{
            .header__tel{
                span{
                    color: #1C2B39;
                }
            }
        }
        .navigation{
            &:after{
                background-color: #C9C9C9;
            }
            a{
                color: #1C2B39;
            }
        }
        .theme{
            .moon{
                path{
                    fill: #1C2B39;
                    fill-opacity: 1;
                }
            }
            .sun{
                path{
                    fill: rgba(28, 43, 57, 0.2);
                    fill-opacity: 1;
                }
            }
        }
        .language{
            span{
                color: #1C2B39;
            }
        }
    }
    .burger{
        background-color: #1C2B39;
        &:after{
            background-color: #1C2B39;
        }
        &:before{
            background-color: #1C2B39;
        }
    }
}
.footer{
    background: rgba(0, 0, 0, 0.2);
    .footer__links{
        .footer__elem_logo{
            p{
                color: rgba(255, 255, 255, 0.25);
            }
        }
        .footer__elem-phone{
            p{
                color: #fff;   
            }
        }
        .footer__elem_social{
            p{
                color: #fff;
            }
        }
        .footer__elem_google{
            span{
                color: #fff;
            }
        }
        .footer__elem_other{
            span{
                color: #fff;
            }
        }
        .footer__elem_pay{
            .footer__pay-outer{
                filter: none;
            }
            .footer__pay-mastercard-outer{
                @extend .footer__pay-outer;
            }
            .footer__pay-visa-outer{
                @extend .footer__pay-outer;
            }
            .footer__pay-googlepay-outer{
                @extend .footer__pay-outer;
            }
        }
    }
    .footer__adres{
        border-top: 1px solid rgba(255, 255, 255, 0.25);
        p{
            color: #fff;
        }
        .footer__adres-header{
            color: #fff;
        }
    }
}