.footer{
    margin-top: 160px;
    background: rgba(45, 100, 244, 0.1);
    @media screen and (max-width:900px){
        margin-top: 80px;
        min-width: 377px;
        width: 100%;
    }
    .footer__links{
        padding: 50px 16px 25px 16px;
        margin: 0 auto;
        max-width: 1144px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr max-content;
        grid-row-gap: 46px;
        @media screen and (max-width:900px){
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, max-content);
            width: 100%;
            padding: 30px 18px 40px 19px;
        }
        .footer__elem_logo{
            p{
                font-weight: 400;
                font-size: 12px;
                line-height: 30px;
                color: rgba(0, 0, 0, 0.25);
            }
            @media screen and (max-width:900px){
                grid-row-start: 4;
                position: relative;
                p{
                    position: absolute;
                    white-space: nowrap;
                }
            }
        }
        .footer__elem-phone{
            margin-left: auto;
            p{
                font-weight: 700;
                font-size: 18px;
                line-height: 32px;
                color: #1C2B39;   
            }
            a{
                font-weight: 700;
                font-size: 18px;
                line-height: 32px;
                color: #2D64F4;
                text-decoration: none;
            }
            @media screen and (max-width:900px){
                margin: 0;
                a{
                   font-size: 14px;
                    line-height: 25px; 
                }
                p{
                    font-size: 14px;
                    line-height: 25px;
                }
            }
        }
        .footer__elem_social{
            margin-left: auto;
            p{
                font-weight: 700;
                font-size: 18px;
                line-height: 32px;
                color: #1C2B39;
            }
            a + a{
                margin-left: 12px;
            }
            @media screen and (max-width:900px){
                p{
                    font-size: 14px;
                    line-height: 25px;
                }
            }
        }
        .footer__elem_google{
            span{
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                margin-left: 2px;
            }
            @media screen and (max-width:900px){
                grid-row-start: 4;
                margin-left: auto;
            }
        }
        .footer__elem_other{
            margin: 0 auto;
            margin-top: auto;
            span{
                font-weight: 300;
                font-size: 14px;
                line-height: 30px;
                color: #000000;
            }
            span + span{
                margin-left: 21px;
            }
            @media screen and (max-width:900px){
                grid-row-start: 2;
                grid-column-start: 1;
                grid-column-end: 3;
                margin: 0 auto;
            }
        }
        .footer__elem_pay{
            margin-top: auto;
            margin-left: auto;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            .footer__pay-outer{
                height: max-content;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                align-items: center;
                max-height: 28px;
                background: #FFFFFF;
                border-radius: 10px;
                filter: drop-shadow(0px 0px 25.3846px rgba(0, 0, 0, 0.08));
            }
            .footer__pay-mastercard-outer{
                @extend .footer__pay-outer;
                padding: 6px 7px;
            }
            .footer__pay-visa-outer{
                @extend .footer__pay-outer;
                padding: 10px 8px 9px 6px;
            }
            .footer__pay-googlepay-outer{
                @extend .footer__pay-outer;
                padding: 9px 6px 7px 6px;
            }
            .footer__pay-outer + .footer__pay-outer{
                margin-left: 13px;
            }
            @media screen and (max-width:900px){
                margin: 0 auto;
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }
    }
    .footer__adres{
        padding-top: 25px;
        padding-bottom: 25px;
        border-top: 1px solid rgba(45, 100, 244, 0.25);
        @media screen and (max-width:900px){
            width: 100%;
        }
        p{
            font-weight: 400;
            font-size: 14px;
            line-height: 30px;
            text-align: center;
        }
        .footer__adres-header{
            font-weight: 600;
            font-size: 14px;
            line-height: 30px;
        }
    }
}