.tel{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
    a{
        text-decoration: none;
        font-weight: 700;
        font-size: 16px;
        color: #2D64F4;
    }
    span{
        margin-left: 15px;
        font-weight: 400;
        font-size: 16px;
        color: #1C2B39
    }
}
.navigation{
    display: grid;
    grid-template-columns: repeat(5, max-content);
    grid-gap: 50px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid #C9C9C9;
    &__elem{
        text-decoration: none;
        color: #1C2B39;
    }
    @media screen and (max-width: 1000px){
        grid-gap: 20px;
    }
}
.theme{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-right: 50px;
    margin-top: 1px;
    @media screen and (max-width: 1000px){
        margin-right: 20px;
    }
}
.trigger{
    margin: 0 10px 0 8px;
    position: relative;
    width: 35px;
    height: 20px;
    background: #1151F3;
    border-radius: 17.5px;
    .trigger__inner{
        position: absolute;
        top: 2px;
        left: 2px;
        width: 16px;
        height: 16px;
        background: #FFFFFF;
        border-radius: 12.5px;
    }
}
.language{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-right: 50px;
    align-items: center;
    margin-top: 1px;
    position: relative;
    @media screen and (max-width: 1000px){
        margin-right: 20px;
    }
    .language__flag{
        margin-top: 2px;
    }
    span{
        margin: 0 5px;
        font-size: 16px;
        color: #1C2B39;
        &:hover{
            color: #2D64F4;
        }
    }
    .language__arrow{
        margin-top: 2px;
    }
    .language__other{
        display: none;
    }
    .language__other_show{
        top: 21px;
        position: absolute;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5px;
        span{
            margin: 0;
        }
    }
}
.header{
    padding: 0 16px;
    margin-top: 39px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 900px){
        padding: 0;
    }
    .header__logo{
        @media screen and (max-width: 900px){
            width: 90px;
            height: 47px;
            margin-left: 16px;
        }
    }
    .header__right{ 
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        margin-left: auto;
        align-items: flex-start;
        justify-content: space-between;
        .header__tel{
            margin-top: 10px;
        }
        @media screen and (max-width: 900px){
            display: none;
        }
    }
}
.burger{
    width: 20px;
    height: 2px;
    background: #1C2B39;
    border-radius: 12px;
    position: relative;
    display: none;
    &:before{
        content: '';
        top: 4px;
        right: 0;
        position: absolute;
        width: 20px;
        height: 2px;
        background: #1C2B39;
        border-radius: 12px;
    }
    &:after{
        right: 0;
        content: '';
        bottom: 4px;
        position: absolute;
        width: 20px;
        height: 2px;
        background: #1C2B39;
        border-radius: 12px;
    }
    @media screen and (max-width: 900px){
        display: block;
        margin-right: 16px;
    }
}
.shadow{
    display: none;
}
.header_mobile{
    margin-top: 0;
    padding-top: 43px;
    background: #101923;
    position: fixed;
    display: block;
    z-index: 100;
    top: 0;
    width: 100%;
    .shadow{
        display: block;
        top: 0;
        left: 0;
        position: fixed;
        z-index: -1;
        background-color: rgba(0,0,0,0.5);
        height: 100%;
        width: 100%;
    }
    .header__logo{
        top: 39px;
        position: absolute;
    }
    .header__right{
        margin: 0;
        display: grid;
        grid-row-gap: 25px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, min-content);
        .header__navigation-links{
            margin: 0 auto;
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 2;
            display: grid;
            grid-row-gap: 25px;
            .header__tel{
                margin: 0 auto;
                grid-column-start: 1;
                grid-column-end: 5;
                span{
                    color: #fff;
                }
            }
        }
        .navigation{
            width: 100%;
            margin: 0 auto;
            grid-template-columns: repeat(4, min-content);
            grid-template-rows: repeat(2, min-content);
            grid-gap: 15px;
            padding-bottom: 0;
            border: 0;
            position: relative;
            &:after{
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 105%;
                position: absolute;
                height: 1px;
                background-color: #fff;
                content: '';
            }
            .navigation__elem{
                margin: 0 auto;
            }
            .navigation__elem_last{
                grid-column-start: 1;
                grid-column-end: 5;
                margin: 0 auto;
            }
            a{
                font-size: 14px;
                line-height: 24px;
                color: #FFFFFF;
                white-space: nowrap;
            }
        }
        .theme{
            margin: 0 auto;
            grid-column-start:2;
            grid-column-end: 4;
            align-items: center;
            margin-top: 5px;
            .moon{
                path{
                    fill: #fff;
                    fill-opacity: 0.5;
                }
            }
            .sun{
                path{
                    fill: #fff;
                    fill-opacity: 1;
                }
            }
        }
        .language{
            margin: 0 auto;
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 3;
            span{
                color: #fff;
            }
        }
    }
    .burger{
        position: absolute;
        right: 0;
        top: 62px;
        background-color: #fff;
        &:after{
            background-color: #fff;
        }
        &:before{
            background-color: #fff;
        }
    }
}