@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'header';
@import 'footer';
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
body{
    width: 100%;
}
.wrapper{
    max-width: 1144px;
    margin: 0 auto;
    @media screen and (max-width:900px){
        min-width: 360px;
    }
}
.content{
    margin: 0 auto;
    @media screen and (max-width:900px){
        min-width: 360px;
    }
}
main{
    padding: 0 16px;
    margin-top: 45px;
    max-width: 100%;
    @media (max-width:900px){
        margin-top: 50px;
    }
}
.choices{
    width: 100%;
    height: 44px;
    border: 0.5px solid #C7C7C7;
    border-radius: 98px;
    background-color: #fff;
    margin-bottom: 15px;
    .choices__inner{
        background-color: rgba(0, 0, 0, 0);
        width: 100%;
        padding: 0;
        height: 44px;
        border: 0;
        padding-top: 4px;
        padding-left: 10px;
        .choices__list--single{
            font-weight: 600;
            font-size: 16px;
            line-height: 30px;
            color: #2D64F4;
            .choices__placeholder{
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;
                color: #C7C7C7
            }
            .choices__item{
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 360px;
                white-space: nowrap;
                @media (max-width:900px){
                    max-width: 260px;
                }
            }
        }
    }
    .choices__list--dropdown{
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        text-align: center;
        color: #1C2B39;
        padding: 0 10px;
        border: 0;
        margin-top: 1px;
        box-shadow: 0px 0px 4px rgba(166, 166, 166, 0.25);
        .choices__item{
            padding: 10px 0;
            text-align: center;
        }
        .choices__item--selectable.is-highlighted{
            background-color: #2D64F4;
        }
        .choices__placeholder{
            display: none;
        }
    }
}
.is-open, .is-fucused{
   border: 0.380835px solid #2D64F4;
}
.main-form__form{
    margin-left: 38px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 0px 21px rgba(184, 184, 184, 0.25);
    border-radius: 10px;
    padding: 25px 40px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    @media (max-width:900px){
        padding: 20px 15px;
    }
    .first-form__header{
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;
        color: #1C2B39;
        margin-bottom: 20px;
        @media screen and (max-width:900px){
            font-size: 16px;
            line-height: 30px;
        } 
    }
    .first-form__discr{
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        color: #1C2B39;
        @media screen and (max-width:900px){
            font-size: 14px;
            line-height: 26px;
        } 
    }
    .all-forms{
        display: none;
        position: relative;
        .form-number{
            position: absolute;
            font-size: 31.1111px;
            line-height: 40px;
            font-weight: 800;
            color: rgba(45, 100, 244, 0.2);
            right: 0;
            top: 0;
        }
    }
    .active-form{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
    }
    .first-form, .second-form, .third-form{
        input[type='text'], input[type='email']{
            border: 0.5px solid #C7C7C7;
            border-radius: 98px;
            padding: 7px 15px;
            margin-top: 2px;
            margin-bottom: 15px;
            color: #2D64F4;
            font-weight: 600;
            font-size: 16px;
            line-height: 30px;
            &::placeholder{
                font-weight: 400;
                color: #C7C7C7;
            }
            @media screen and (max-width:900px){
                font-size: 14px;
                line-height: 26px;
            } 
        }
    }
    .third-form{
        .third-form__more-people{
            margin-top: 30px;
            .third-form__more-people-header{
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;
                color: #2D64F4;
                @media screen and (max-width: 900px){
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 26px;
                    color: #2D64F4;
                } 
            }
            .third-form__more-people-container{
                margin-top: 10px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-row-gap: 5px;
                padding-bottom: 10px;
                border-bottom: 1px solid #EEEEEE;
                .third-form__more-people-attribute{
                    margin-right: auto;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 30px;
                    color: #1C2B39;
                    @media screen and (max-width: 900px){
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 26px;
                        color: #1C2B39;
                    } 
                }
                .third-form__more-people-value{
                    margin-left: auto;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 30px;
                    color: #2D64F4;
                    @media screen and (max-width: 900px){
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 26px;
                        color: #2D64F4;
                    } 
                }
            }
        }
    }
    .main-form__border{
        top: 78px;
        left: -38px;
        height: 100%;
        z-index: -1;
        width: 100%;
        border: 0.537975px solid #2D64F4;
        border-radius: 10.7595px;
        position: absolute;
        @media screen and (max-width: 900px){
            display: none;
        }
    }
    #first-form__code{
        background-color: rgba(0, 0, 0, 0);
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        color: #2D64F4;
        margin-top: 5px;
        margin-bottom: 30px;
        border: 0;
        text-align: left;
        @media screen and (max-width:900px){
            font-size: 14px;
            line-height: 26px;
        } 
    }
    #first-form__promo{
        display: none;
        margin-bottom: 30px;
    }
    .main-form__next{
        background: #2D64F4;
        border-radius: 5px;
        border: 0;
        text-align: center;
        padding: 15px 0;
        margin-top: 30px;
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;
        color: #fff;
    }
    .main-form__prev{
        display: none;
        background-color: rgba(0, 0, 0, 0);
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        color: rgba(45, 100, 244, 0.5);
        margin-top: 15px;
        border: 0;
        text-align: center;
    }
    .main-form-checkbox-outer{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        span{
            margin-left: 15px;
            font-weight: 500;
            font-size: 16px;
            line-height: 30px;
            color: #1C2B39;
            @media screen and (max-width:900px){
                font-size: 14px;
                line-height: 30px;
            } 
        }
    }
    @media screen and (max-width: 900px){
        margin: 0;
        margin-top: 20px;
    }
}
.main-form__form-thanks{
    margin-top: 0;
    margin-left: 0;
    max-width: 420px;
    margin: 0 auto;
    position: relative;
}
.main-form{
    display: grid;
    grid-template-columns: 52fr 48fr;
    grid-gap: 42px;
    width: 100%;
    @media (max-width: 900px){
        margin-top: 80px;
        flex-direction: column;
    }
    .main-form__left{
        margin-top: 78px;
        h2{
            font-style: normal;
            font-weight: 900;
            font-size: 30px;
            text-transform: uppercase;
            color: #1C2B39;
            span{
                color: rgba(45, 100, 244, 1);
            }
            @media screen and (max-width: 900px){
                font-size: 20px;
                line-height: 34px;
            }    
        }
        .main-form__text{
            margin-top: 10px;
            font-weight: 500;
            font-size: 18px;
            line-height: 34px;
            color: #1C2B39;
            @media screen and (max-width: 900px){
                font-size: 14px;
                line-height: 26px;
            } 
        }
        .main-photo-outer{
            position: relative;
            width: inherit;
            height: 400px;
            margin-top: 30px;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: center;
            align-items: center;
            .main-photo{
                width: inherit;
                position: absolute;
                z-index: -1;
                opacity: 0;
                top: 0;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                flex-direction: column;
                justify-content: center; 
                @media screen and (max-width: 1040px){
                    img{
                        max-width: 320px;
                    }
                    .main-photo_last-photo{
                        margin: 0 auto;
                        max-width: 320px;
                        max-height: 200px;
                    }
                }
            }
            .main-photo_first{
                position: absolute;
                opacity: 1;
                z-index: 1;
                transition-duration: 1s;
                span{
                    margin-top: 28px;
                    font-weight: 900;
                    font-size: 60px;
                    line-height: 88px;
                    text-transform: uppercase;
                    @media screen and (max-width: 1040px){
                        font-size: 50px;
                        line-height: 70px;
                    } 
                    @media screen and (max-width: 900px){
                        font-size: 40px;
                        line-height: 60px;
                        max-width: 320px;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 900px){
        display: block;
    }
}
.second-form{
    .second-form__customer{
        font-weight: 600;
        font-size: 16px;
        line-height: 30px;
        color: #1C2B39;
        @media screen and (max-width:900px){
            font-size: 14px;
            line-height: 26px;
        } 
    }
    .second-form__passport{
        margin-top: 5px;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        color: #2D64F4;
        @media screen and (max-width:900px){
            font-size: 14px;
            line-height: 26px;
        } 
    }
    .second-form__more-people-outer{
        width: 100%;
        .second-form__more-people-wrapper{
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            flex-direction: column;
            width: 100%;
            .second-form__more-people{
                width: 100%;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background: rgba(0, 0, 0, 0);
                border: 0;
                span{
                    margin: 0 auto;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 30px;
                    color: #2D64F4;
                    @media screen and (max-width:900px){
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 26px;
                        color: #2D64F4;
                    }
                }
                .second-form__more-people-img{
                    display: none;
                }
                .second-form__more-people-img-visible{
                    display: block;
                }
            }
        }
    }
}
.last-form{
    .last-form__header{
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        color: #2D64F4;
        margin-left: 15px;
    }
    .last-form__outer{
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 70px));
        grid-row-gap: 20px;
        grid-column-gap: 35px;
        border: 1px solid #2D64F4;
        border-radius: 19px;
        width: inherit;
        padding: 55px 43px;
        @media screen and (max-width:900px){
            grid-column-gap: 20px;
            border-radius: 14px;
            padding: 20px 15px;
        } 
        .last-form__number{
            grid-column-start: 1;
            grid-column-end: 5;
            width: inherit;
            border: 0.5px solid #2D64F4;
            border-radius: 4.20147px;
            padding-top: 5xp;
            padding-bottom: 6px;
            padding-left: 13px;
            font-weight: 500;
            font-size: 14px;
            line-height: 30px;
            @media screen and (max-width:900px){
                font-size: 14px;
                line-height: 26px;
            } 
        }
        .last-form__term{
            width: 100%;
            grid-column-start: 1;
            grid-column-end: 2;
            border: 0.5px solid #2D64F4;
            border-radius: 4.20147px;
            padding: 5px 5px 6px 6px;
            @media screen and (max-width:900px){
                width: 51px;
                font-size: 14px;
                line-height: 26px;
            } 
        }
        .last-form__svv{
            width: 100%;
            padding: 5px 16px 6px 13px;
            grid-column-start: 2;
            grid-column-end: 3;
            border: 0.5px solid #2D64F4;
            border-radius: 4.20147px;
            @media screen and (max-width:900px){
                font-size: 14px;
                line-height: 26px;
            } 
        }
        input{
            font-weight: 500;
            font-size: 14px;
            line-height: 30px;
            color: #9C9C9C;
            @media screen and (max-width:900px){
                font-size: 14px;
                line-height: 26px;
            } 
        }
    }
    .last-form__pay-outer{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
        button{
            padding: 13px 60px;
            background: #000000;
            border-radius: 8px;
            border: 0;
            @media screen and (max-width:900px){
                padding: 5px 40px;
            } 
        }
    }
}
.price-outer{
    display: none;
    .price__header{
        text-align: center;
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;
        color: #000000;
        @media (max-width:900px){
            font-size: 16px;
        }
    }
    .price__price{
        text-align: center;
        font-weight: 600;
        font-size: 38px;
        line-height: 72px;
        color: #2D64F4;
        span{
            font-size: 16px;
        }
        @media (max-width:900px){
            font-size: 34px;
            line-height: 63px;
            span{
                font-size: 14px;
            }
        }
    }
}
.programm{
    margin-top: 224px;
    @media screen and (max-width: 900px){
        margin-top: 80px;
    }
    .programm__wrapper{
        padding: 50px 100px;
        border-radius: 10px;
        @media screen and (max-width: 900px){
            padding: 30px 20px;
        }
    }
    .programm__order-outer{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
    }
    .programm__order{
                text-align: center;
        margin: 0 auto;
        margin-top: 35px;
        padding: 14px 75px;
        background: #2D64F4;
        border-radius: 5px;
        border: 0;
        text-decoration: none;
        span{
            text-align: center;
            font-weight: 600;
            font-size: 18px;
            line-height: 30px;
            color: #FFFFFF;
        }
        @media screen and (max-width: 900px){
            width: 100%;
            span{
                font-size: 16px;
                line-height: 30px;
            }
        }
    }
    h2{
        text-align: center;
        font-weight: 900;
        font-size: 30px;
        line-height: 44px;
        text-transform: uppercase;
        margin-bottom: 30px;
        span{
            color: rgba(45, 100, 244, 1);
        }
        @media screen and (max-width:900px){
            font-size: 18px;
        }
    }
    .programm__conteiner{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, min-content);
        grid-row-gap: 20px;
        grid-column-gap: 134px;
        .programm__elem-outer{
            background: #FFFFFF;
            box-shadow: 0px 0px 7px rgba(227, 227, 227, 0.25);
            border-radius: 10px;
            .programm__elem{
                margin-bottom: auto;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 25px 32px 25px 50px;
                span{
                    font-weight: 900;
                    font-size: 18px;
                    line-height: 30px;
                    text-transform: uppercase;
                    color: #1C2B39;
                    @media screen and (max-width:900px){
                        font-size: 14px;
                    }
                }
            }
            .programm__other{
                max-height: 0;
                overflow: hidden;
                li{
                    line-height: 0;
                    font-size: 0;
                }
            }
            .programm__other_show{
                max-height: 300px;
                transition-duration: 0.5s;
                @media screen and (max-width:900px){
                    padding-bottom: 10px;
                }
                li{
                    transition-duration: 0.5s;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 30px;
                    color: #1C2B39;
                    margin-left: 30px;
                    list-style-type: none;
                    position: relative;
                    &:before{
                        content: '';
                        position: absolute;
                        width: 10px;
                        height: 1px;
                        left: -13px;
                        top: 15px;
                        background-color: #1C2B39;
                    }
                }
            }
        }
        @media screen and (max-width:900px){
            grid-template-columns: 1fr;
            grid-row-gap: 15px;
        }
    }
    .programm__atantion{
        margin-top: 35px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 35px 39px 35px 30px;
        border-radius: 10px;
        p{
            margin-left: 40px;
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            @media screen and (max-width:900px){
                margin-left: 0;
                margin-top: 10px;
                text-align: center;
                font-size: 14px;
                line-height: 26px;
            }
        }
        svg{
            overflow: visible;
        }
        @media screen and (max-width:900px){
            flex-direction: column;
            justify-content: center;
            padding: 15px 14px;
        }
    }
}
.plus{
    position: relative;
    width: 18px;
    height: 3px;
    background-color: rgba(45, 100, 244, 1);
    &:after{
        top: -7.5px;
        left: 7.5px;
        content: '';
        position: absolute;
        width: 3px;
        height: 18px;
        background-color: rgba(45, 100, 244, 1);
    }
}
.faq{
    margin-top: 160px;
    @media screen and (max-width: 900px){
        margin-top: 80px;
    }
    h2{
        text-align: center;
        font-weight: 900;
        font-size: 30px;
        line-height: 44px;
        text-transform: uppercase;
        margin-bottom: 30px;
        span{
            color: rgba(45, 100, 244, 1);
        }
        @media screen and (max-width:900px){
            font-size: 18px;
            line-height: 30px;
            margin-bottom: 5px;
        }
    }
    .faq__questions{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 64px;
        @media screen and (max-width:900px){
            grid-template-columns: 1fr;
        }
        .faq__question-outer{
            padding: 30px 0;
            @media screen and (max-width:900px){
                padding: 15px 0;
            }
            .faq__question{
                height: 44px;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                align-items: center;
                justify-content: space-between;
                img{
                    width: 18px;
                    @media screen and (max-width:900px){
                        width: 8px;
                    }
                }
                span{
                    width: 90%;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 30px;
                    @media screen and (max-width:900px){
                        font-size: 14px;
                        line-height: 22px;
                    }
                }
            }
        }
        .faq__answer{
            display: none;
        }
        .faq__answer_active{
            display: block;
            p{
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;
                margin-top: 10px;
                @media screen and (max-width:900px){
                    font-size: 14px;
                    line-height: 28px;
                }
            }
        }
    }
}
.what-doing{
    margin-top: 160px;
    @media screen and (max-width:900px){
        margin-top: 80px;
    }
    h2{
        width: 40%;
        font-weight: 900;
        font-size: 30px;
        line-height: 44px;
        text-transform: uppercase;
        span{
            color: #2D64F4;
        }
        @media screen and (max-width:900px){
            width: 100%;
            font-size: 18px;
            line-height: 30px;
        }
    }
    .what-doing__main{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 20px;
        margin-top: 35px;
        @media screen and (max-width:900px){
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, min-content);
            margin-top: 25px;
        }
        .what_doing__elem{
            border-radius: 33px;
            .what_doing__elem-header{
                font-weight: 900;
                font-size: 18px;
                line-height: 28px;
                text-transform: uppercase;
                span{
                    color: rgba(45, 100, 244, 1);
                }
                @media screen and (max-width:900px){
                    font-size: 16px;
                }
            }
            .what_doing__elem-text{
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                span{
                    font-weight: 600;
                }
                @media screen and (max-width:900px){
                    font-size: 14px;
                }
            }
        }
        .what_doing__elem_first{
            grid-row-start: 1;
            grid-row-end: 3;
            padding: 35px;
            .what_doing__elem_first-img-outer{
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                justify-content: center;
                padding: 55px 0;
            }
            @media screen and (max-width:900px){
                grid-row-end: 2;
            }
        }
        .what_doing__elem_second{
            padding: 25px 35px;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .medicine{
                margin-right: -20px;
            }
            .what_doing__elem-outer{
                margin-top: auto;
            }
            @media screen and (max-width:900px){
                flex-direction: column-reverse;
                .what_doing__elem-img{
                    margin-bottom: 20px;
                }
            }
        }
    }
}
.extreme{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-top: 160px;
    @media (max-width:900px){
        margin-top: 80px;
        flex-direction: column;
    }
    .extreme__left{
        width: 50%;
        margin-right: 120px;
        h2{
            width: 80%;
            font-weight: 900;
            font-size: 30px;
            line-height: 44px;
            text-transform: uppercase;
            margin-bottom: 15px;
            span{
                color: #2D64F4;
            }
            @media screen and (max-width:900px){
                margin-bottom: 4px;
                font-size: 18px;
                line-height: 30px;
            }
        }
        p{
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            @media screen and (max-width:900px){
                font-size: 14px;
                line-height: 28px;
            }
        }
        @media screen and (max-width:900px){
            width: 100%;
            margin: 0;
            margin-bottom: 30px;
        }
    }
    .extreme__right{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;
        position: relative;
        @media screen and (max-width:900px){
            position: static;
            grid-gap: 10px;
        }
        .extreme__right-elem{
            width: 370px;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            align-items: center;
            padding: 18px 15px;
            background-color: #fff;
            box-shadow: 0px 0px 7px rgba(227, 227, 227, 0.25);
            border-radius: 10px;
            @media screen and (max-width:900px){
                width: inherit;
            }
            span{
                font-weight: 600;
                font-size: 16px;
                line-height: 44px;
                color: #1C2B39;
                margin-left: 15px;
                @media screen and (max-width:900px){
                    font-size: 14px;
                    line-height: 22px;
                }
            }
            .extreme__right-img-outer{
                background-color: #2D64F4;
                border-radius: 50%;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 38px;
                height: 38px;
            }
        }
        .extreme__right-background{
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1;
            background: rgba(45, 100, 244, 0.25);
            filter: blur(100px);
            @media screen and (max-width:900px){
                max-width: 90%;
                height: 100%;
                filter: blur(75px);
            }
        }
        .extreme__right-header{
            top: -71px;
            z-index: -1;
            position: absolute;
            font-weight: 900;
            font-size: 78px;
            line-height: 116px;
            text-transform: uppercase;
            @media screen and (max-width:900px){
                display: none;
            }
        }
    }
}
.traumas{
    margin-top: 160px;
    @media screen and (max-width: 900px){
        margin-top: 80px;
    }
    h2{
        font-weight: 900;
        font-size: 30px;
        line-height: 44px;
        text-transform: uppercase;
        width: 40%;
        span{
            color: rgba(45, 100, 244, 1);
        }
        @media screen and (max-width:900px){
            width: 100%;
            font-size: 18px;
            line-height: 30px;
        }
    }
    .traumas__outer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 25px;
        grid-row-gap: 20px;
        margin-top: 36px;
        @media screen and (max-width:900px){
            grid-template-columns: 1fr;
            margin-top: 24px;
        }
        .traumas__elem{
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            align-items: center;
            padding: 13px 25px;
            @media screen and (max-width:900px){
                padding: 9px 25px;
            }
            span{
                margin-left: 25px;
                font-weight: 600;
                font-size: 16px;
                line-height: 44px;
            }
        }
    }
}
.sport{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-top: 160px;
    @media screen and (max-width:900px){
        flex-direction: column;
        margin-top: 80px;
    }
    .sport__left{
        width: 60%;
        @media screen and (max-width:900px){
            width: 100%;
        }
        h2{
            width: 80%;
            font-weight: 900;
            font-size: 30px;
            line-height: 44px;
            text-transform: uppercase;
            span{
                color: #2D64F4;
            }
            margin-bottom: 18px;
            @media screen and (max-width:900px){
                width: 100%;
                font-size: 18px;
                line-height: 30px;
            }
        }
        .sport__sports-outer{
            .sport__more-sports-outer{
                padding-top: 30px;
                .sport__more-sports{
                    margin: 0 auto;
                    display: block;
                    border: 0;
                    background-color: rgba(0, 0, 0, 0);
                    font-size: 16px;
                    line-height: 20px;
                    text-decoration-line: underline;
                    color: #2D64F4;
                    @media screen and (max-width:900px){
                        font-size: 14px;
                        line-height: 17px;
                    }
                }
            }
            .sport__elem{
                border-radius: 63px;
                padding: 6px 10px;
                display: inline;
                line-height: 50px;
                white-space: nowrap;
                margin-right: 20px;
                align-items: center;
                .sport__name-outer{
                    display: inline-block;
                    overflow: hidden;
                    font-weight: 400;
                    max-width: 350px;
                    font-size: 14px;
                    line-height: 14px;
                    text-overflow: ellipsis;
                    @media screen and (max-width:900px){
                        max-width: 180px;
                    }
                }
                img{
                    padding: 10px;
                    margin: -10px;
                    margin-left: 0;
                    display: none;
                }
                @media screen and (max-width:900px){
                    font-size: 12px;
                    line-height: 40px;
                    margin-right: 10px;
                }
            }
        }
    }
    .sport__right{
        width: 40%;
        position: relative;
        @media screen and (max-width:900px){
            position: static;
        }
        p{
            position: absolute;
            font-weight: 900;
            font-size: 60px;
            line-height: 88px;
            text-transform: uppercase;
            top: -14px;
            @media screen and (max-width:900px){
                position: static;
                display: none;
            }
        }
        img{
            position: absolute;
            top: 250px;
            z-index: -100;
            @media screen and (max-width:900px){
                position: static;
                height: 266px;
                margin: 0 auto;
                margin-top: 36px;
            }
        }
    }
}
.step-slider{
    margin-top: 160px;
    overflow: hidden;
    position: relative;
    @media screen and (max-width: 900px){
        margin-top: 80px;
    }
}
.slider-header{
    width: 650px;
    text-align: right;
    position: absolute;
    right: 0;
    top: 63px;
    font-weight: 900;
    font-size: 59.66px;
    line-height: 88px;
    text-align: right;
    text-transform: uppercase;
    color: rgba(45, 100, 244, 0.1);
    @media screen and (max-width: 900px){
        display: inline;
        margin-top: 80px;
        position: static;
        font-weight: 900;
        font-size: 18px;
        line-height: 30px;
        text-transform: uppercase;
        color: #1C2B39;
        span{
            color: #2D64F4;
        }
    }
}
.slider-hand{
    display: none;
    @media screen and (max-width: 900px){
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        margin-top: 24px;
        .slider-hand__img{

        }
    }
}
.slider{
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 35px;
    .slider__elem{
        display: none;
    }
    .slider__elem_visible{
        width: 230px;
        margin-top: auto;
        display: block;
        .slider__img-outer{
            display: none;
        }
        .slider__text-outer{
            .slider__text1{
                font-weight: 900;
                font-size: 18px;
                line-height: 30px;
                text-transform: uppercase;
                color: #2D64F4;
                white-space: nowrap;
            }
            .slider__text2{
                font-weight: 900;
                font-size: 18px;
                line-height: 30px;
                text-transform: uppercase;
                white-space: nowrap;
            }
            .slider__text3{
                font-weight: 900;
                font-size: 18px;
                line-height: 30px;
                text-transform: uppercase;
                white-space: nowrap;
            }
        }
        .slider__next-button{
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            button{
                border: 0;
                background-color: rgba(0,0,0,0);
                svg{
                    margin-left: 15px;
                }
            }
        }
    }
    .slider__elem_active{
        grid-column-start: 1;
        grid-column-end: 2;
        background: rgba(45, 100, 244, 0.15);
        border-radius: 33px;
        width: 334px;
        height: 585px;    
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
//        transition-duration: 0.5s;
        @media screen and (max-width:900px){
            width: 270px;
            height: 393px;
        }
        .slider__img-outer{
            display: block;
            margin-top: 190px;
            &:after{
                background: rgba(45, 100, 244, 0.7);
                filter: blur(50px);
                content: '';
                height: 180px;
                width: 180px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                z-index: -4;
                position: absolute;
            }
            @media screen and (max-width:900px){
                margin-top: 144px;
                img{
                    height: 153px;
                }
            }
        }
        .slider__next-button{
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            margin-top: auto;
            margin-bottom: 40px;
            button{
                border: 0;
                background-color: rgba(0,0,0,0);
            }
        }
        .slider__text-outer{
            position: absolute;
            top: 33px;
            left: 75px;
            .slider__text1{
                font-weight: 900;
                font-size: 18px;
                line-height: 30px;
                text-transform: uppercase;
                white-space: nowrap;
//                transition-duration: 0.5s;
                @media screen and (max-width:900px){
                    font-size: 12px;
                    line-height: 23px;
                }
            }
            .slider__text2{
                font-weight: 900;
                font-size: 30px;
                line-height: 44px;
                text-transform: uppercase;
                white-space: nowrap;
//                transition-duration: 0.5s;
                @media screen and (max-width:900px){
                    font-size: 18px;
                    line-height: 30px;
                }
            }
            .slider__text3{
                font-weight: 900;
                font-size: 30px;
                line-height: 44px;
                text-transform: uppercase;
                white-space: nowrap;
//                transition-duration: 0.5s;
                @media screen and (max-width:900px){
                    font-size: 18px;
                    line-height: 30px;
                }
            }
        }
    }
}
.recomends{
    overflow: hidden;
    margin-top: 160px;
    position: relative;
    .slider__elem_visible{
        position: relative;
        .recomends__icon{
            position: absolute;
            top: -80px;
            left: 0;
        }
        .recomends__rate{
            font-weight: 900;
            font-size: 18px;
            line-height: 30px;
            text-transform: uppercase;
            color: #2D64F4;
            position: absolute;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            flex-direction: column;
            top: -60px;
//            top: 0;
            img{
                margin-top: 36px;
            }
        }
        .recomends__text{
            display: none;
        }
        .recomends__name{
            font-weight: 900;
            font-size: 18px;
            line-height: 30px;
            text-transform: uppercase;
            white-space: nowrap;
            position: absolute;
            top: -30px;
        }
        button{
            border: 0;
            background-color: rgba(0,0,0,0);
            margin-top: 40px;
            margin-bottom: 2px;
            img{
                display: inline-block;
                margin-left: 15px;
            }
        }
        .recomends__img-outer{
            display: none;
        }
    }
    .slider__elem_active{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        position: relative;
        @media screen and (max-width:900px){
            width: 270px;
            height: 460px;
            justify-content: space-between;
        }
        .recomends__icon{
            position: absolute;
            top: 20px;
            left: 20px;
        }
        .recomends__rate{
            flex-direction: row;
            justify-content: space-between;
            position: absolute;
            font-weight: 900;
            left: 50%;
            top: 33px;
            align-items: center;
            margin-left: -4px;
            img{
                margin: 0;
                margin-left: 13px;
            }
            @media screen and (max-width:900px){
                font-size: 14px;
                line-height: 23px;
                img{
                    margin-left: 10px;
                    height: 12px;
                }
            }
        }
        .recomends__name{
            margin-left: -5px;
            position: absolute;
            font-weight: 900;
            font-size: 30px;
            line-height: 44px;
            text-transform: uppercase;
            white-space: nowrap;
            left: 50%;
            top: 63px;
            span{
                color: #2D64F4;
            }
            @media screen and (max-width:900px){
                font-size: 18px;
                line-height: 30px;
            }
        }
        .recomends__img-outer{
            margin-top: auto;
            display: block;
            @media screen and (max-width:900px){
                margin-top: 100px;
                img{
                    width: 91px;
                }
            }
        }
        .recomends__text{
            display: block;
            margin: 25px 25px 35px 25px;
            p{
                display: inline;
                font-size: 16px;
                line-height: 30px;
            }
            a{
                color: #2D64F4;
                text-decoration: underline;
            }
            @media screen and (max-width:900px){
                margin: 15px 15px 30px 15px;
                p{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin: 0;
                    font-size: 14px;
                    line-height: 24px;
                }
                a{
                    overflow: normal;
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }
        button{
            display: none;
        }
    }
}
.thanks{
    margin-top: 84px;
}
.one-time{
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    text-align: center;
    @media screen and (max-width:900px){
        font-size: 14px;
        line-height: 26px;
    }
}
.thanks-header{
    max-width: 550px;
    font-weight: 900;
    font-size: 30px;
    line-height: 44px;
    margin: 0 auto;
    margin-top: 5px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 100px;
    span{
        color: #2D64F4;
    }
    @media screen and (max-width:900px){
        font-size: 20px;
        line-height: 34px;
        margin-bottom: 30px;
    }
}
.present{
    margin: 0 auto;
    padding: 45px 100px;
    border-radius: 7px;
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content, min-content;
    max-width: 650px;
    margin-bottom: 50px;
    grid-column-gap: 30px;
    .present__header{
        margin-top: auto;
        font-weight: 900;
        font-size: 24px;
        line-height: 44px;
        text-transform: uppercase;
        color: #2D64F4;
    }
    .present__text{
        font-weight: 500;
        font-size: 18px;
        line-height: 34px;
    }
    svg{
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    @media screen and (max-width:900px){
        padding: 30px 15px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, min-content);
        svg{
            grid-column-start: 0;
            grid-column-end: 1;
            grid-row-start: 2;
            grid-row-end: 3;
            margin: 0 auto;
            margin-top: 26px;
            margin-bottom: 25px;
            width: 86px;
            height: 97px;
        }
        .present__header{
            font-size: 20px;
            line-height: 34px;
            text-align: center;
        }
        .present__text{
            font-size: 14px;
            line-height: 26px;
            text-align: center;
        }
    }
}
.thanks__message{
    margin-top: 108px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    @media screen and (max-width:900px){
        margin-top: 88px;
        svg{
            height: 99px;
            width: 99px;
        }
    }
}
.thanks__what-doing{
    margin: 0 auto;
    max-width: 577px;
    margin-top: 25px;
    font-weight: 900;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    span{
        color: #2D64F4;
    }
    @media screen and (max-width:900px){
        font-size: 20px;
        line-height: 34px;
    }
}
.thanks__text{
    margin: 0 auto;
    max-width: 840px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    text-align: center;
    @media screen and (max-width:900px){
        font-size: 14px;
        line-height: 26px;
    }
}
.thanks__no-message{
    margin-top: 5px;
    width: 100%;
    text-align: center;
    font-weight: 500;
    a{
        font-size: 18px;
        line-height: 34px;
        text-align: center;
        text-decoration-line: underline;
        color: #2D64F4;
    }
    @media screen and (max-width:900px){
        margin-top: 8px;
        a{
            font-size: 14px;
            line-height: 26px;
        }
    }
}
.thanks__all{
    position: absolute;
    font-weight: 900;
    font-size: 35px;
    line-height: 51px;
    text-transform: uppercase;
    width: 300px;
    top: -15px;
    left: -340px;
    @media screen and (max-width:900px){
        display: none;
    }
}
.thanks__sell{
    position: absolute;
    z-index: -1;
    right: -250px;
    top: 250px;
    @media screen and (max-width:900px){
        display: none;
    }
}