body {
  background: #101923;
}

.programm .programm__wrapper {
  background: rgba(255, 255, 255, 0.1);
}
.programm h2 {
  color: #fff;
}
.programm .programm__atantion {
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: none;
          box-shadow: none;
}
.programm .programm__atantion svg path {
  fill: #fff;
}
.programm .programm__atantion p {
  color: #fff;
}

.faq h2 {
  color: #fff;
}
.faq .faq__questions .faq__question-outer {
  border-bottom: 0.5px solid #fff;
}
.faq .faq__questions .faq__question-outer .faq__question span {
  color: #fff;
}
.faq .faq__questions .faq__answer_active p {
  color: #fff;
}

.main-form .main-form__left h2 {
  color: #fff;
}
.main-form .main-form__left .main-form__text {
  color: #fff;
}

.what-doing h2 {
  color: #fff;
}
.what-doing .what-doing__main .what_doing__elem {
  background: rgba(255, 255, 255, 0.15);
}
.what-doing .what-doing__main .what_doing__elem .what_doing__elem-header {
  color: #fff;
}
.what-doing .what-doing__main .what_doing__elem .what_doing__elem-header span {
  color: rgb(45, 100, 244);
}
.what-doing .what-doing__main .what_doing__elem .what_doing__elem-text {
  color: #fff;
}
.what-doing .what-doing__main .what_doing__elem_second .what_doing__elem-img path {
  fill: rgba(255, 255, 255, 0.1);
  fill-opacity: 1;
}
@media screen and (max-width: 900px) {
  .what-doing .what-doing__main .what_doing__elem_second .what_doing__elem-img path {
    fill: #2D64F4;
    fill-opacity: 1;
  }
}

.extreme .extreme__left h2 {
  color: #fff;
}
.extreme .extreme__left p {
  color: #fff;
}
.extreme .extreme__right .extreme__right-header {
  color: rgba(255, 255, 255, 0.1);
}

.traumas h2 {
  color: #fff;
}
.traumas .traumas__outer .traumas__elem {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -o-border-image: linear-gradient(to right, rgba(255, 255, 255, 0.025), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
     border-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.025)), color-stop(rgba(255, 255, 255, 0.25)), color-stop(rgba(255, 255, 255, 0.25)), color-stop(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0)));
     border-image: linear-gradient(to right, rgba(255, 255, 255, 0.025), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
  -webkit-border-image: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0.025), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
  border-image-slice: 1;
}
.traumas .traumas__outer .traumas__elem span {
  color: #fff;
}

.sport .sport__left h2 {
  color: #fff;
}
.sport .sport__left .sport__sports-outer .sport__elem {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}
.sport .sport__right p {
  color: rgba(255, 255, 255, 0.1);
}

.slider-header {
  color: rgba(255, 255, 255, 0.1);
}

.slider .slider__elem_visible .slider__text-outer .slider__text2 {
  color: #fff;
}
.slider .slider__elem_visible .slider__text-outer .slider__text3 {
  color: #fff;
}
.slider .slider__elem_visible .slider__next-button button span {
  color: #fff;
}
.slider .slider__elem_active {
  background: rgba(255, 255, 255, 0.15);
}
.slider .slider__elem_active .slider__text-outer .slider__text2 {
  color: #2D64F4;
}
.slider .slider__elem_active .slider__text-outer .slider__text1 {
  color: #fff;
}
.slider .slider__elem_active .slider__text-outer .slider__text3 {
  color: #fff;
}

.recomends .slider__elem_visible .recomends__name {
  color: #fff;
}
.recomends .slider__elem_visible button span {
  color: #fff;
}
.recomends .slider__elem_active .recomends__rate {
  color: #fff;
}
.recomends .slider__elem_active .recomends__text p {
  color: #fff;
}

.one-time {
  color: #fff;
}

.thanks-header {
  color: #fff;
}

.present {
  background: rgba(255, 255, 255, 0.1);
}
.present .present__text {
  color: #fff;
}
.present svg path {
  fill: rgba(255, 255, 255, 0.2);
  fill-opacity: 1;
}

.thanks__message path {
  fill: rgba(255, 255, 255, 0.2);
  fill-opacity: 1;
}

.thanks__what-doing {
  color: #fff;
}

.thanks__text {
  color: #fff;
}

.thanks__all {
  color: rgba(255, 255, 255, 0.1);
}

.thanks__sell path {
  fill: rgba(255, 255, 255, 0.2);
  fill-opacity: 1;
}

.tel span {
  color: #fff;
}

.navigation {
  border-bottom: 0.5px solid #fff;
}
.navigation__elem {
  color: #fff;
}

.theme .moon path {
  fill: #fff;
  fill-opacity: 1;
}
.theme .sun path {
  fill: #fff;
  fill-opacity: 0.5;
}

.language span {
  color: #fff;
}

.burger {
  background: #fff;
}
.burger:before {
  background: #fff;
}
.burger:after {
  background: #fff;
}

.header_mobile {
  background: #fff;
}
.header_mobile .header__right .header__navigation-links .header__tel span {
  color: #1C2B39;
}
.header_mobile .header__right .navigation:after {
  background-color: #C9C9C9;
}
.header_mobile .header__right .navigation a {
  color: #1C2B39;
}
.header_mobile .header__right .theme .moon path {
  fill: #1C2B39;
  fill-opacity: 1;
}
.header_mobile .header__right .theme .sun path {
  fill: rgba(28, 43, 57, 0.2);
  fill-opacity: 1;
}
.header_mobile .header__right .language span {
  color: #1C2B39;
}
.header_mobile .burger {
  background-color: #1C2B39;
}
.header_mobile .burger:after {
  background-color: #1C2B39;
}
.header_mobile .burger:before {
  background-color: #1C2B39;
}

.footer {
  background: rgba(0, 0, 0, 0.2);
}
.footer .footer__links .footer__elem_logo p {
  color: rgba(255, 255, 255, 0.25);
}
.footer .footer__links .footer__elem-phone p {
  color: #fff;
}
.footer .footer__links .footer__elem_social p {
  color: #fff;
}
.footer .footer__links .footer__elem_google span {
  color: #fff;
}
.footer .footer__links .footer__elem_other span {
  color: #fff;
}
.footer .footer__links .footer__elem_pay .footer__pay-outer, .footer .footer__links .footer__elem_pay .footer__pay-googlepay-outer, .footer .footer__links .footer__elem_pay .footer__pay-visa-outer, .footer .footer__links .footer__elem_pay .footer__pay-mastercard-outer {
  -webkit-filter: none;
          filter: none;
}
.footer .footer__adres {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}
.footer .footer__adres p {
  color: #fff;
}
.footer .footer__adres .footer__adres-header {
  color: #fff;
}