.tel {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.tel a {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  color: #2D64F4;
}
.tel span {
  margin-left: 15px;
  font-weight: 400;
  font-size: 16px;
  color: #1C2B39;
}

.navigation {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-max-content 50px -webkit-max-content 50px -webkit-max-content 50px -webkit-max-content 50px -webkit-max-content;
  -ms-grid-columns: max-content 50px max-content 50px max-content 50px max-content 50px max-content;
  grid-template-columns: repeat(5, -webkit-max-content);
  grid-template-columns: repeat(5, max-content);
  grid-gap: 50px;
  padding-bottom: 10px;
  border-bottom: 0.5px solid #C9C9C9;
}
.navigation__elem {
  text-decoration: none;
  color: #1C2B39;
}
@media screen and (max-width: 1000px) {
  .navigation {
    grid-gap: 20px;
  }
}

.theme {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 50px;
  margin-top: 1px;
}
@media screen and (max-width: 1000px) {
  .theme {
    margin-right: 20px;
  }
}

.trigger {
  margin: 0 10px 0 8px;
  position: relative;
  width: 36px;
  height: 20px;
  background: #1151F3;
  border-radius: 17.5px;
}
.trigger .trigger__inner {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background: #FFFFFF;
  border-radius: 12.5px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
.trigger .trigger__inner_right {
  position: absolute;
  top: 2px;
  width: 16px;
  height: 16px;
  background: #FFFFFF;
  border-radius: 12.5px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  left: 18px;
}

.language {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1px;
  position: relative;
}
@media screen and (max-width: 1000px) {
  .language {
    margin-right: 20px;
  }
}
.language .language__flag {
  margin-top: 2px;
}
.language span {
  margin: 0 5px;
  font-size: 16px;
  color: #1C2B39;
}
.language span:hover {
  color: #2D64F4;
}
.language .language__arrow {
  margin-top: 2px;
}
.language .language__other {
  display: none;
}
.language .language__other_show {
  top: 21px;
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5px;
}
.language .language__other_show span {
  margin: 0;
}

.header {
  padding: 0 16px;
  margin-top: 39px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .header {
    padding: 0;
  }
}
@media screen and (max-width: 900px) {
  .header .header__logo {
    width: 90px;
    height: 47px;
    margin-left: 16px;
  }
}
.header .header__right {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .header__right .header__tel {
  margin-top: 10px;
}
@media screen and (max-width: 900px) {
  .header .header__right {
    display: none;
  }
}

.burger {
  width: 20px;
  height: 2px;
  background: #1C2B39;
  border-radius: 12px;
  position: relative;
  display: none;
}
.burger:before {
  content: "";
  top: 4px;
  right: 0;
  position: absolute;
  width: 20px;
  height: 2px;
  background: #1C2B39;
  border-radius: 12px;
}
.burger:after {
  right: 0;
  content: "";
  bottom: 4px;
  position: absolute;
  width: 20px;
  height: 2px;
  background: #1C2B39;
  border-radius: 12px;
}
@media screen and (max-width: 900px) {
  .burger {
    display: block;
    margin-right: 16px;
  }
}

.shadow {
  display: none;
}

.header_mobile {
  margin-top: 0;
  padding-top: 43px;
  background: #101923;
  position: fixed;
  display: block;
  z-index: 100;
  top: 0;
  width: 100%;
}
.header_mobile .shadow {
  display: block;
  top: 100%;
  left: 0;
  position: absolute;
  z-index: -100;
  background-color: rgba(0, 0, 0, 0.5);
  height: 2000px;
  width: inherit;
}
.header_mobile .header__logo {
  top: 39px;
  position: absolute;
}
.header_mobile .header__right {
  margin: 0;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 25px;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: -webkit-min-content 25px -webkit-min-content 25px -webkit-min-content 25px -webkit-min-content;
  -ms-grid-rows: min-content 25px min-content 25px min-content 25px min-content;
  grid-template-rows: repeat(4, -webkit-min-content);
  grid-template-rows: repeat(4, min-content);
}
.header_mobile .header__right > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.header_mobile .header__right > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.header_mobile .header__right > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.header_mobile .header__right > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.header_mobile .header__right > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
.header_mobile .header__right > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.header_mobile .header__right > *:nth-child(7) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.header_mobile .header__right > *:nth-child(8) {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
}
.header_mobile .header__right > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.header_mobile .header__right > *:nth-child(10) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}
.header_mobile .header__right > *:nth-child(11) {
  -ms-grid-row: 7;
  -ms-grid-column: 2;
}
.header_mobile .header__right > *:nth-child(12) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}
.header_mobile .header__right .header__navigation-links {
  margin: 0 auto;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 4;
  grid-column-end: 5;
  -ms-grid-row: 2;
      grid-row-start: 2;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 25px;
}
.header_mobile .header__right .header__navigation-links .header__tel {
  margin: 0 auto;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 4;
  grid-column-end: 5;
}
.header_mobile .header__right .header__navigation-links .header__tel span {
  color: #fff;
}
.header_mobile .header__right .navigation {
  width: 100%;
  margin: 0 auto;
  -ms-grid-columns: -webkit-min-content 15px -webkit-min-content 15px -webkit-min-content 15px -webkit-min-content;
  -ms-grid-columns: min-content 15px min-content 15px min-content 15px min-content;
  grid-template-columns: repeat(4, -webkit-min-content);
  grid-template-columns: repeat(4, min-content);
  -ms-grid-rows: -webkit-min-content 15px -webkit-min-content;
  -ms-grid-rows: min-content 15px min-content;
  grid-template-rows: repeat(2, -webkit-min-content);
  grid-template-rows: repeat(2, min-content);
  grid-gap: 15px;
  padding-bottom: 0;
  border: 0;
  position: relative;
}
.header_mobile .header__right .navigation > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.header_mobile .header__right .navigation > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.header_mobile .header__right .navigation > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.header_mobile .header__right .navigation > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
.header_mobile .header__right .navigation > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.header_mobile .header__right .navigation > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.header_mobile .header__right .navigation > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.header_mobile .header__right .navigation > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}
.header_mobile .header__right .navigation:after {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 105%;
  position: absolute;
  height: 1px;
  background-color: #fff;
  content: "";
}
.header_mobile .header__right .navigation .navigation__elem {
  margin: 0 auto;
}
.header_mobile .header__right .navigation .navigation__elem_last {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 4;
  grid-column-end: 5;
  margin: 0 auto;
}
.header_mobile .header__right .navigation a {
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  white-space: nowrap;
}
.header_mobile .header__right .theme {
  margin: 0 auto;
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 2;
  grid-column-end: 4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
}
.header_mobile .header__right .theme .moon path {
  fill: #fff;
  fill-opacity: 0.5;
}
.header_mobile .header__right .theme .sun path {
  fill: #fff;
  fill-opacity: 1;
}
.header_mobile .header__right .language {
  margin: 0 auto;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 4;
  grid-column-end: 5;
  -ms-grid-row: 3;
      grid-row-start: 3;
}
.header_mobile .header__right .language span {
  color: #fff;
}
.header_mobile .burger {
  position: absolute;
  right: 0;
  top: 62px;
  background-color: #fff;
}
.header_mobile .burger:after {
  background-color: #fff;
}
.header_mobile .burger:before {
  background-color: #fff;
}