@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
.first{
    background-image: url('../imgs/bg1.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 47px;
    padding-bottom: 100px;
}
.logo{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
}
.first__main{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    margin-top: 30px;
}
.first__left{
    padding-left: 100px;
}
.first__left h3{
    font-weight: 700;
    font-size: 60px;
    line-height: 120%;
    color: #222222;
}
.first__left p{
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #222222;
    margin-top: 48px;
}
.first__left button{
    padding: 12px 24px;
    background: #A1498C;
    border-radius: 100px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    border: 0;
    margin-top: 44px;
}
.first__right img{
    width: 651px;
}
.form{
    background-color: #A1498C;
    padding: 82px 0;
}
.form p{
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    color: #fff;
}
.form form{
    background: rgba(255, 255, 255, 0.17);
    border-radius: 24px;
    padding: 36px 48px;
    max-width: 460px;
    margin: 0 auto;
    margin-top: 48px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    -ms-align-items: center;
}
.form label{
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.form input[type='text'], .form input[type='email']{
    padding-left: 20px;
    font-size: 16px;
    margin-bottom: 24px;
    background: rgba(255, 255, 255, 0.51);
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    height: 43px;
    color: #fff;
}
.form input[type='submit']{
    padding: 12px 24px;
    background: #FFFFFF;
    border-radius: 100px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #A1498C;
    width: 105px;
    margin: 0 auto;
    border: 0;
}
.tale{
    padding-bottom: 150px;
    background-image: url('../imgs/bg2.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fafafa;
}
.tale__header{
    padding-top: 100px;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    text-align: center;
    color: #222222;
}
.tale__text{
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #222222;
    margin: 0 auto;
    margin-top: 48px;
    max-width: 500px;
}
.tale__panel{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    margin-top: 36px;
}
.tale__elem{
    padding: 24px;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.04);
    border-radius: 24px;
    max-width: 340px;
}
.tale__elem omg{
    max-width: 340px;
}
.tale__elem + .tale__elem{
    margin-left: 36px;
}
.tale__elem-header{
    margin-top: 24px;
    margin-bottom: 18px;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    color: #222222;
}
.tale__elem-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #222222;
}
footer{
    padding: 48px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
footer span{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    align-items: center;
    margin: 0 auto;
    margin-top: 9px;
    color: #222222;
}
.links{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-left: auto;
}
.links a{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 34px;
    height: 34px;
    background: #A1498C;
    border-radius: 8px;
}
.links a + a{
    margin-left: 18px;
}
@media screen and (max-width: 1250px){
    .tale__panel{
        flex-direction: column;
        -ms-align-items: center;
        align-items: center;
    }
    .first__main{
        flex-direction: column;
    }
}
@media screen and (max-width: 900px){
    .logo img{
        width: 154px;
    }
    footer{
        padding: 44px 0;
        display: grid;
        grid-template-columns: 1fr;
    }
    .footer__logo{
        margin: 0 auto;
        width: 154px;
    }
    footer span{
        grid-row-start: 3;
        margin-top: 0;
    }
    .links{
        grid-row-start: 2;
        margin: 0 auto;
        margin-top: 28px;
        margin-bottom: 24px;
    }
    .first__main{
        margin-top: 108px;
    }
    .first__left{
        padding-left: 0;
        padding: 0 24px;
    }
    .first__left h3{
        font-size: 42px;
        text-align: center;
    }
    .first__left p{
        font-size: 18px;
        text-align: center;
    }
    .first__left button{
        width: 100%;
    }
    .first__right img{
        width: 355px;
        margin-top: 44px;
    }
    .tale{
        padding-bottom: 64px;
        background-image: url('../imgs/bg3.png');
    }
    .tale__header{
        padding-top: 64px;
        font-size: 28px;
    }
    .tale__elem-header{
        font-size: 18px;
    }
    .tale__text{
        font-size: 18px;
        margin-top: 24px;
        max-width: 291px;
    }
    .tale__panel{
        align-items: center;
        margin-top: 32px;
    }
    .tale__elem{
        max-width: 279px;
    }
    .tale__elem img{
        width: 279px;
    }
    .tale__elem + .tale__elem{
        margin-left: 0;
        margin-top: 24px;
    }
    .tale__elem-text{
        font-size: 16px;
    }
    .form{
        padding: 64px 0;
    }
    .form p{
        padding: 0 24px;
        font-size: 28px;
    }
    .form form{
        border-radius: 0;
        padding: 36px 24px;
    }
    .form input[type='submit']{
        width: 100%;
    }
}
@media screen and (max-width: 370px){
    .first__right img{
        width: 320px;
    }
    .tale__elem{
        max-width: 260px;
    }
    .tale__elem img{
        width: 260px;
    }
}