@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"); /* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
  font-family: "Montserrat";
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

* {
  font-size: 16px;
  color: #453E60;
  scroll-behavior: smooth;
}

.inner {
  padding: 0 100px;
}
@media (max-width: 900px) {
  .inner {
    padding: 0 14px;
  }
}

.row {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  padding: 27px 0;
  border-bottom: 1px solid #D9D9D9;
}

.logo {
  padding-left: 80px;
  background: url("../imgs/logo.png") no-repeat;
  background-position: 0 4px;
}
.logo p {
  margin: 6px 0;
  width: 90px;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.36px;
  color: #7C6EAC;
}

nav {
  margin-left: auto;
}
nav a {
  font-weight: 500;
  padding: 2px 10px;
}
nav a:hover {
  color: #fff;
  border-radius: 2px;
  background: linear-gradient(8deg, #DED3FC 0%, rgba(222, 211, 252, 0) 100%), linear-gradient(213deg, #CA9FC3 0%, rgba(202, 159, 195, 0) 100%), #7C6EAC;
}
nav a + a {
  margin-left: 72px;
}
@media (max-width: 1440px) {
  nav a + a {
    margin-left: 24px;
  }
}
@media (max-width: 1230px) {
  nav {
    display: none;
  }
}

.social a + a {
  margin-left: 11px;
}
@media (max-width: 1230px) {
  .social {
    display: none;
  }
}

.language {
  margin: 0 30px 0 50px;
  position: relative;
  background: #fff;
  padding: 10px;
}
.language a {
  line-height: 20px;
  color: #A6A9CA;
}
.language:after {
  content: "";
  border: solid #453E60;
  border-width: 0 1px 1px 0;
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-bottom: 4px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.language__list {
  display: none;
  position: absolute;
  border-radius: 0 0 5px 5px;
  border: 1px solid #A6A9CA;
  border-top: 0;
  padding: 0 9px 9px;
  top: 29px;
  left: -1px;
  background: #fff;
}
.language_active {
  border-radius: 5px 5px 0 0;
  border: 1px solid #A6A9CA;
  padding: 9px;
}
.language_active .language__list {
  display: block;
}
.language_active::after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  margin: 0;
}
@media (max-width: 1440px) {
  .language {
    margin: 0 20px 0 30px;
  }
}
@media (max-width: 1230px) {
  .language {
    margin-left: auto;
  }
}

.burger {
  display: none;
  width: 40px;
  background: #7E6FAC;
  height: 2px;
  position: relative;
}
.burger::before {
  content: "";
  position: absolute;
  right: 0;
  top: -8px;
  width: 20px;
  height: 2px;
  background: #7E6FAC;
}
.burger::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -8px;
  width: 40px;
  height: 2px;
  background: #7E6FAC;
}
@media (max-width: 1230px) {
  .burger {
    display: block;
  }
}

.mobile {
  position: fixed;
  right: 0;
  top: 0;
  padding: 15px;
  background: #fff;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
}
.mobile__close {
  margin-left: auto;
  margin-top: 8px;
  margin-right: 8px;
  width: 20px;
  height: 2px;
  position: relative;
  background: #453E60;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.mobile__close::before {
  content: "";
  position: absolute;
  background: #453E60;
  width: 2px;
  height: 20px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.mobile nav {
  margin-top: 11px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.mobile nav a {
  margin-top: 19px;
}
.mobile .social {
  display: block;
  margin-top: 32px;
}
.mobile .social a img {
  width: 25px;
}

h3 {
  text-transform: uppercase;
}
h3 span {
  float: right;
}

.border {
  position: relative;
}

.elem {
  position: absolute;
  top: 1px;
  left: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
}

.button {
  border-radius: 5px;
  background: linear-gradient(8deg, #DED3FC 0%, rgba(222, 211, 252, 0) 100%), linear-gradient(213deg, #CA9FC3 0%, rgba(202, 159, 195, 0) 100%), #7C6EAC;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

.first {
  padding-bottom: 160px;
  position: relative;
  overflow: hidden;
}
.first #first__background1 {
  position: absolute;
  top: 33%;
  left: 8%;
  z-index: -1;
}
.first #first__background2 {
  position: absolute;
  top: 10%;
  left: 50%;
  z-index: -1;
  width: 100%;
}
.first #first__background2 img {
  position: absolute;
  top: 0;
}
.first #first__background2 img + img {
  margin-top: 128px;
  margin-left: 10px;
  z-index: -1;
}
.first #first__background3 {
  position: absolute;
  right: -10%;
  z-index: -1;
}
.first #first__background4 {
  position: absolute;
  top: 45%;
  left: 8%;
  z-index: -1;
  width: 80px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.first__main h3 {
  color: #453E60;
  font-size: 73px;
  font-weight: 550;
  letter-spacing: 3px;
  width: 900px;
}
.first__main h3 i {
  color: #453E60;
  font-size: 73px;
  font-weight: 550;
  letter-spacing: 3px;
  font-style: normal;
}
.first__up {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 175px;
}
.first__support {
  margin-top: auto;
}
.first__support p {
  width: 250px;
  position: relative;
  font-weight: 400;
}
.first__support p::before {
  position: absolute;
  width: 83px;
  content: "";
  height: 1px;
  top: -5px;
  background-color: #453E60;
}
.first__support a {
  margin-top: 25px;
  display: inline-block;
  padding: 14px 68px;
  border-radius: 5px;
  background: linear-gradient(77deg, #DED3FC -46.34%, rgba(222, 211, 252, 0) 38.46%), linear-gradient(267deg, #CA9FC3 -18.3%, rgba(202, 159, 195, 0) 66.12%), #7C6EAC;
  -webkit-box-shadow: 0px -2px 10px 0px rgba(124, 110, 172, 0.3);
          box-shadow: 0px -2px 10px 0px rgba(124, 110, 172, 0.3);
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}
.first__links {
  margin-top: 175px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
}
.first__link {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 6px;
  border: 1.226px solid #D9D9D9;
  padding: 65px 32px;
}
.first__link img {
  max-width: 100px;
}
.first__link b {
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
}
.first__link i {
  font-style: normal;
}
.first__link i::after {
  content: "";
  border: solid #453E60;
  border-width: 0 1px 1px 0;
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-left: 2px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  vertical-align: middle;
}
.first__link:hover {
  background: url("../imgs/main-gradient.png");
  background-size: 150%;
}
.first__link:hover b, .first__link:hover i, .first__link:hover i::after {
  color: #fff;
  border-color: #fff;
}
.first__img img {
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1600px) {
  .first__link {
    padding: 52px 32px;
  }
  .first__link b {
    font-size: 22px;
  }
}
@media (max-width: 1440px) {
  .first h3 {
    width: auto;
  }
  .first__links {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
  }
  .first__up {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .first__support {
    padding-top: 140px;
  }
  .first #first__background3 {
    display: none;
  }
}
@media (max-width: 900px) {
  .first {
    padding-bottom: 60px;
  }
  .first #first__background1 {
    display: none;
  }
  .first #first__background2 {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    left: 20%;
  }
  .first #first__background4 {
    top: 25%;
  }
  .first h3 {
    font-size: 32px;
    letter-spacing: 1px;
  }
  .first h3 i {
    font-size: 32px;
    letter-spacing: 1px;
    display: block;
    text-align: right;
  }
  .first__up {
    margin-top: 160px;
  }
  .first__links {
    margin-top: 60px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .first__link {
    padding: 46px 20px;
  }
  .first__link b {
    font-size: 16px;
  }
  .first__link i {
    font-size: 14px;
  }
  .first__support {
    padding-top: 140px;
    width: 100%;
  }
  .first__support a {
    font-size: 14px;
    width: 100%;
  }
  .first__support p::before {
    width: 0;
  }
}

.about {
  background: url("../imgs/main-gradient.png");
  padding-top: 175px;
  position: relative;
}
.about #about__background1 {
  position: absolute;
  z-index: 10;
  right: -20px;
  top: -100px;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}
.about #about__background2 {
  position: absolute;
  z-index: 0;
  left: 42%;
  top: -100px;
}
.about #about__background3 {
  position: absolute;
  z-index: 10;
  right: 0;
  top: -100px;
}
.about #about__background4 {
  position: absolute;
  z-index: 0;
  right: 30%;
  bottom: 25%;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}
.about h3 {
  font-size: 4.5rem;
  color: #fff;
  vertical-align: middle;
}
.about h3 img {
  margin-left: 30px;
}
.about__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 80px 1fr 80px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 80px;
  margin-top: 115px;
}
.about #about__border1 {
  height: 310px;
}
.about #about__border2 {
  height: 250px;
}
.about #about__border3 {
  height: 350px;
}
.about__border {
  -webkit-clip-path: polygon(0 0, 50% 0, 60% 20px, 100% 20px, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 50% 0, 60% 20px, 100% 20px, 100% 100%, 0 100%);
  background: #fff;
}
.about__elem {
  margin-bottom: auto;
  padding: 0 30px 56px;
  border: 1px solid #fff;
  border-width: 0 1px 1px;
  border-radius: 0 3px 3px 3px;
  position: relative;
}
.about__elem * {
  color: #fff;
}
.about__elem p {
  font-size: 1.5rwm;
  font-weight: 600;
  line-height: 130%;
  text-transform: uppercase;
}
.about__elem p span {
  font-size: 1.5rwm;
  font-weight: 600;
  line-height: 130%;
  color: #7C6EAC;
  background-color: #fff;
}
.about__elem::before {
  left: -1px;
  content: "";
  position: absolute;
  top: -60px;
  height: 60px;
  width: calc(50% + 2px);
  border: 1px solid #fff;
  border-width: 1px 0 0 1px;
  border-radius: 3px 0 0 0;
  z-index: 1;
}
.about__elem::after {
  left: 50%;
  content: "";
  position: absolute;
  top: -60px;
  height: 61px;
  width: 50%;
  -webkit-clip-path: polygon(0 0, 60px 100%, 100% 100%, 100% 60px, 60px 60px, 1px 0);
          clip-path: polygon(0 0, 60px 100%, 100% 100%, 100% 60px, 60px 60px, 1px 0);
  background: #fff;
}
.about__number {
  font-size: 75px;
  font-weight: 700;
  letter-spacing: 2.25px;
  text-transform: uppercase;
}
@media (max-width: 1230px) {
  .about #about__border1 {
    height: 380px;
  }
  .about #about__border2 {
    height: 290px;
  }
  .about #about__border3 {
    height: 390px;
  }
}
@media (max-width: 1100px) {
  .about {
    background-size: 1000%;
    padding-top: 60px;
  }
  .about h3 {
    font-size: 2rem;
  }
  .about h3 img {
    height: 30px;
    margin-left: 8px;
  }
  .about__list {
    margin-top: 70px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-row-gap: 90px;
  }
  .about__elem {
    padding: 0 24px 32px;
  }
  .about__number {
    font-size: 45px;
    font-weight: 600;
  }
  .about #about__background1 {
    right: 5px;
    top: -30px;
    left: auto;
    width: 80px;
  }
  .about #about__background2 {
    right: 10px;
    top: -30px;
    left: auto;
    z-index: 10;
    width: 50px;
  }
  .about #about__background3 {
    right: 0;
    top: -50px;
    left: auto;
    width: 80px;
    -webkit-transform: rotate(185deg);
            transform: rotate(185deg);
  }
  .about #about__background4 {
    display: none;
  }
}

.other {
  width: 100%;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  background: #fff;
  border: 1px solid #7C6EAC;
}

.promise {
  padding: 74px 0;
  border-radius: 5px;
}
.promise h3 {
  text-align: center;
  font-size: 52px;
  font-weight: 700;
  background: url("../imgs/main-gradient.png");
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.promise__list {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
}
.promise__elem {
  text-align: center;
}
.promise__elem + .promise__elem {
  border-left: 1px solid #7C6EAC;
}
@media (max-width: 900px) {
  .promise {
    padding: 28px 15px;
    margin-top: -50px;
  }
  .promise h3 {
    font-size: 22px;
  }
  .promise__list {
    margin-top: 15px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .promise .slick-dots {
    margin-top: 16px;
  }
  .promise__elem img {
    display: inline;
    vertical-align: middle;
  }
  .promise__elem + .promise__elem {
    border: 0;
  }
}

.services {
  padding-top: 280px;
  padding-bottom: 260px;
  background: url("../imgs/backgrounds/services.png") no-repeat;
  background-size: 100%;
  background-position: 0 -500px;
}
.services h3 {
  font-size: 4.5rem;
  font-weight: 550;
  letter-spacing: 2.16px;
  width: 500px;
}
.services h3 span {
  font-size: 4.5rem;
  font-weight: 550;
  letter-spacing: 2.16px;
}
.services__list {
  margin-left: auto;
  margin-top: 170px;
  max-width: 930px;
}
.services__elem {
  margin-bottom: auto;
  padding: 32px;
  background: #fff;
  top: 1px;
  left: 1px;
  border: 1px solid #D9D9D9;
  position: relative;
}
.services__elem::before {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
  position: absolute;
  content: "";
  width: 55%;
  height: 50px;
  bottom: -50px;
  right: -1px;
  background: #D7D7D8;
}
.services__elem::after {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
  position: absolute;
  content: "";
  width: calc(55% - 2px);
  height: 50px;
  bottom: -49px;
  right: 0;
  background: #fff;
}
.services__elem + .services__elem {
  margin-top: 80px;
}
.services .row {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.services__left {
  width: 50%;
}
.services__left p {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}
.services__right {
  width: 50%;
}
.services__right p {
  font-weight: 500;
}
.services__right ul {
  margin-top: 20px;
}
.services__right ul li {
  list-style: disc;
  margin-left: 20px;
}
.services__right ul li::marker {
  color: #9688C1;
}
.services__button {
  margin-top: 100px;
  float: right;
  padding: 15px 70px;
  background: linear-gradient(77deg, #DED3FC -46.34%, rgba(222, 211, 252, 0) 38.46%), linear-gradient(267deg, #CA9FC3 -18.3%, rgba(202, 159, 195, 0) 66.12%), #7C6EAC;
  -webkit-box-shadow: 0px -2px 10px 0px rgba(124, 110, 172, 0.3);
          box-shadow: 0px -2px 10px 0px rgba(124, 110, 172, 0.3);
}
@media (max-width: 900px) {
  .services {
    background-size: 200%;
    background-position: 220px -350px;
    padding-bottom: 120px;
    padding-top: 180px;
  }
  .services h3 {
    width: 220px;
    font-size: 2rem;
  }
  .services h3 span {
    font-size: 2rem;
  }
  .services .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services__list {
    margin-top: 70px;
  }
  .services__left {
    width: 100%;
  }
  .services__left p {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .services__right {
    width: 100%;
    margin-top: 8px;
  }
  .services__right p {
    font-weight: 500;
    font-size: 13px;
  }
  .services__right ul {
    margin-top: 5px;
  }
  .services__right ul li {
    margin-top: 7px;
    font-size: 13px;
    list-style: disc;
  }
  .services__elem {
    padding: 20px;
  }
  .services__elem_mobile::before {
    -webkit-clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
    position: absolute;
    content: "";
    width: 55%;
    height: 50px;
    top: -50px;
    left: -1px;
    background: #D7D7D8;
  }
  .services__elem_mobile::after {
    -webkit-clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
    position: absolute;
    content: "";
    width: calc(55% - 2px);
    height: 50px;
    top: -49px;
    left: 0;
  }
  .services__elem_non-margin {
    margin-top: 20px !important;
  }
  .services__button {
    width: 100%;
    display: block;
    font-size: 14px;
    padding: 14px 0;
    text-align: center;
    margin-top: 20px;
  }
}

.pros {
  padding-top: 160px;
  background: url("../imgs/main-gradient.png");
}
.pros h3 {
  font-size: 4.5rem;
  font-weight: 550;
  letter-spacing: 2.16px;
  color: #fff;
}
.pros__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 100px;
  margin-top: 100px;
}
.pros__elem {
  text-align: center;
}
.pros__elem p {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}
.pros__elem_last p {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}
.pros__elem_third p {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}
@media (max-width: 900px) {
  .pros {
    padding-top: 60px;
  }
  .pros h3 {
    font-size: 2rem;
    letter-spacing: 0.96;
    text-align: center;
  }
  .pros__list {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 32px;
    margin-top: 40px;
  }
  .pros__elem img {
    width: 54px;
  }
  .pros__elem p {
    font-size: 14px;
    font-weight: 500;
  }
  .pros__elem_third p {
    width: 100%;
  }
}

.numbers {
  padding: 82px 64px;
  border-radius: 11px;
}
.numbers__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 50px 1fr 50px 1fr 50px 1fr 50px 1fr;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 50px;
}
.numbers__elem {
  max-width: 220px;
}
.numbers__text {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.6px;
  text-transform: lowercase;
}
.numbers__number {
  font-size: 46px;
  font-weight: 900;
  letter-spacing: 1.38px;
  text-transform: uppercase;
  position: relative;
  display: inline;
}
.numbers__number span {
  font-size: 46px;
  opacity: 0;
}
.numbers__number::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: -6px;
  width: 34px;
  height: 8px;
  background: #CA9FC3;
}
.numbers__number::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 7px;
  width: 8px;
  height: 34px;
  background: #CA9FC3;
}
@media (max-width: 1550px) {
  .numbers__list {
    grid-gap: 14px;
  }
  .numbers__number {
    font-size: 36px;
  }
}
@media (max-width: 1300px) {
  .numbers__number {
    font-size: 2rem;
  }
  .numbers__number span {
    font-size: 2rem;
    opacity: 0;
  }
  .numbers__number::after {
    right: -6px;
    width: 20px;
    height: 6px;
  }
  .numbers__number::before {
    right: 1px;
    width: 6px;
    height: 20px;
  }
  .numbers__text {
    font-size: 1rem;
  }
}
@media (max-width: 900px) {
  .numbers {
    margin-top: -250px;
    padding: 32px 20px;
  }
  .numbers__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .numbers__elem {
    margin: 0 auto;
  }
  .numbers p {
    text-align: center;
  }
  .numbers__number {
    display: block;
    font-size: 1.5rem;
  }
  .numbers__number::after {
    top: 22px;
    height: 4px;
    width: 16px;
    right: calc(30% - 6px);
  }
  .numbers__number::before {
    top: 22px;
    height: 16px;
    width: 4px;
    right: 30%;
  }
}

.reviews {
  background: url("../imgs/backgrounds/services2.png") 100% no-repeat;
  background-position: 0 220%;
  padding-bottom: 200px;
  padding-top: 200px;
  position: relative;
}
.reviews #reviews__background1 {
  position: absolute;
  width: 140px;
  right: -20px;
  top: -110px;
  z-index: -1;
  -webkit-transform: rotate(215deg);
          transform: rotate(215deg);
}
.reviews #reviews__background2 {
  position: absolute;
  width: 100px;
  right: 0;
  top: -70px;
  z-index: 10;
}
.reviews h3 {
  font-size: 72px;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
  letter-spacing: 2.16px;
}
.reviews__list {
  margin-top: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 80px 1fr 80px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 80px;
  grid-row-gap: 30px;
}
.reviews__elem {
  margin-top: 80px;
  margin-bottom: auto;
  padding: 16px 35px;
  background: #fff;
  border: 1px solid #D7D7D8;
  position: relative;
}
.reviews__elem_last {
  margin-top: 0;
  -webkit-clip-path: none;
          clip-path: none;
  position: static;
  border: 1px solid #D7D7D8;
  border-radius: 5px;
  padding: 22px 34px;
}
.reviews__elem_last::before {
  display: none;
}
.reviews__elem_last::after {
  display: none;
}
.reviews__elem::before {
  -webkit-clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
  position: absolute;
  content: "";
  width: 320px;
  height: 80px;
  top: -80px;
  left: -1px;
  background: #D7D7D8;
}
.reviews__elem::after {
  -webkit-clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
  position: absolute;
  content: "";
  width: 318px;
  height: 80px;
  top: -79px;
  left: 0;
  background: #fff;
}
.reviews__header {
  position: absolute;
  left: 35px;
  top: -64px;
  z-index: 5;
}
.reviews__rating {
  margin-left: 10px;
}
.reviews__name {
  font-weight: 500;
  letter-spacing: 0.48px;
}
.reviews__text {
  margin-top: 40px;
  position: relative;
}
.reviews__text::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 21px;
  left: 0;
  top: -32px;
  background: url("../imgs/quotes.png") no-repeat;
}
.reviews__button {
  display: none;
}
@media (max-width: 1550px) {
  .reviews {
    padding-top: 360px;
  }
}
@media (max-width: 1440px) {
  .reviews__list {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 1100px) {
  .reviews {
    background: none;
  }
  .reviews #reviews__background1 {
    display: none;
  }
  .reviews #reviews__background2 {
    display: none;
  }
  .reviews img {
    display: none;
  }
  .reviews__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .reviews__elem {
    margin: 80px 10px 0;
  }
  .reviews__elem_last {
    display: none !important;
  }
  .reviews__elem_header img {
    display: inline;
  }
}
@media (max-width: 900px) {
  .reviews {
    padding-bottom: 60px;
  }
  .reviews h3 {
    font-size: 2rem;
  }
  .reviews__list {
    margin-top: 40px;
  }
  .reviews__elem {
    padding: 21px 24px;
  }
  .reviews__elem::before {
    width: 250px;
  }
  .reviews__elem::after {
    width: 248px;
  }
  .reviews__name {
    font-size: 13px;
  }
  .reviews__header {
    left: 24px;
    top: -50px;
    z-index: 5;
  }
  .reviews__header img {
    width: 30px;
    display: inline;
    vertical-align: middle;
  }
  .reviews__header span {
    font-size: 10px;
  }
  .reviews__rating img {
    width: 60px;
  }
  .reviews__text {
    margin-top: 40px;
    font-size: 13px;
  }
  .reviews__button {
    margin-top: 40px;
    padding: 14px;
    display: block;
    font-size: 14px;
    width: 100%;
    text-align: center;
    background: linear-gradient(77deg, #DED3FC -46.34%, rgba(222, 211, 252, 0) 38.46%), linear-gradient(267deg, #CA9FC3 -18.3%, rgba(202, 159, 195, 0) 66.12%), #7C6EAC;
  }
}

.review input[type=file] {
  visibility: hidden;
  width: 0;
}
.review input[type=file] + label {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  border: 1px solid #7C6EAC;
  position: relative;
}
.review input[type=file] + label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #7C6EAC;
}
.review input[type=file] + label::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 2px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #7C6EAC;
}
.review input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.review input[type=radio] + label {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url("../imgs/star-empty.png");
  margin-right: 3.5px;
}
.review input[type=radio] + label.star {
  background: url("../imgs/star.png");
}
.review input[type=radio] + label.star_selected {
  background: url("../imgs/star.png");
}
.review__rating {
  margin-left: 11px;
}
.review__rating p {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.36px;
  margin-bottom: 5px;
}
.review__name {
  margin-left: 20px;
}
.review__name label {
  display: block;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.36px;
}
.review__name input {
  margin-top: 7px;
  color: #D7D7D8;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.36px;
  display: block;
  border-bottom: 1px solid #D7D7D8;
}
.review textarea {
  padding: 10px 15px;
  margin-top: 20px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #D7D7D8;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.36px;
  margin-bottom: 24px;
}
.review textarea::-webkit-input-placeholder {
  color: #D7D7D8;
}
.review textarea::-moz-placeholder {
  color: #D7D7D8;
}
.review textarea:-ms-input-placeholder {
  color: #D7D7D8;
}
.review textarea::-ms-input-placeholder {
  color: #D7D7D8;
}
.review textarea::placeholder {
  color: #D7D7D8;
}
.review__submit {
  padding: 8px 50px;
}
.review__mobile {
  display: none;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.review__close {
  display: none;
  margin-left: auto;
  margin-right: 8px;
  margin-top: 8px;
  line-height: 10px;
  width: 20px;
  height: 2px;
  position: relative;
  background: #453E60;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.review__close::before {
  content: "";
  position: absolute;
  background: #453E60;
  width: 2px;
  height: 20px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100;
}
@media (max-width: 900px) {
  .review .row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 5fr;
    grid-template-columns: 1fr 5fr;
  }
  .review .row input[type=file] + label {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 1;
        grid-row-start: 1;
    width: 30px;
    height: 30px;
  }
  .review .row input[type=file] + label:before {
    width: 10px;
    height: 1px;
  }
  .review .row input[type=file] + label:after {
    width: 1px;
    height: 10px;
  }
  .review .row .review__rating {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
  .review .row .review__rating p {
    display: inline;
  }
  .review .row .review__rating label {
    vertical-align: middle;
  }
  .review .row .review__name {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 2;
        grid-row-start: 2;
    margin-left: 0;
    margin-top: 10px;
  }
  .review .row .review__name label {
    font-size: 1rem;
  }
  .review .row .review__name input {
    font-size: 14px;
    width: 100%;
  }
  .review textarea {
    margin-top: 0;
  }
  .review__submit {
    text-align: center;
    display: block;
    width: 100%;
  }
  .review__mobile {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contacts {
  padding: 160px 0;
  background: url("../imgs/main-gradient.png");
  position: relative;
  overflow: hidden;
}
.contacts #contacts__background1 {
  position: absolute;
  width: 100px;
  right: 8%;
  top: 28%;
  -webkit-transform: rotate(145deg);
          transform: rotate(145deg);
  z-index: 10;
}
.contacts #contacts__background2 {
  position: absolute;
  width: 50px;
  left: 61%;
  top: 71%;
  z-index: 10;
}
.contacts #contacts__background3 {
  position: absolute;
  width: 100px;
  left: 5%;
  bottom: 8%;
  z-index: 10;
  -webkit-transform: rotate(245deg);
          transform: rotate(245deg);
}
.contacts h3 {
  color: #fff;
  font-size: 4.5rem;
  font-weight: 550;
  letter-spacing: 2.16px;
}
.contacts__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 2% 5fr 2% 4fr;
  grid-template-columns: 4fr 5fr 4fr;
  grid-column-gap: 2%;
  padding: 20px 40px;
  border: 1px solid #fff;
  border-width: 0 1px 0 1px;
  position: relative;
  margin-top: 80px;
}
.contacts__list::before {
  left: -1px;
  content: "";
  position: absolute;
  top: -60px;
  height: 61px;
  width: calc(100% + 2px);
  -webkit-clip-path: polygon(0 60px, 70% 60px, 80% 0, 100% 0, 100% 60px, 99.9% 60px, 99.9% 1px, 80% 1px, 70% 61px, 0 61px);
          clip-path: polygon(0 60px, 70% 60px, 80% 0, 100% 0, 100% 60px, 99.9% 60px, 99.9% 1px, 80% 1px, 70% 61px, 0 61px);
  background: #fff;
}
.contacts__list::after {
  left: -1px;
  content: "";
  position: absolute;
  bottom: -60px;
  height: 61px;
  width: calc(100% + 2px);
  -webkit-clip-path: polygon(0 60px, 70% 60px, 80% 0, 100% 0, 100% 60px, 99.9% 60px, 99.9% 1px, 80% 1px, 70% 61px, 0 61px);
          clip-path: polygon(0 60px, 70% 60px, 80% 0, 100% 0, 100% 60px, 99.9% 60px, 99.9% 1px, 80% 1px, 70% 61px, 0 61px);
  background: #fff;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.contacts__elem {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}
.contacts__elem p {
  color: #FFF;
  font-weight: 400;
}
.contacts__elem p + p {
  font-size: 22px;
  font-weight: 600;
}
.contacts__elem a {
  background: #fff;
  border-radius: 6px;
  display: inline-block;
  height: 30px;
  width: 30px;
  text-align: center;
  padding: 5px;
}
.contacts__elem a img {
  vertical-align: middle;
  width: 100%;
}
.contacts__elem a + a {
  margin-left: 8px;
}
.contacts__wrapper {
  padding-right: 8%;
  border-right: 1px solid #D9D9D9;
}
.contacts__wrapper_last {
  border: 0;
  padding-right: 0;
}
@media (max-width: 1400px) {
  .contacts__wrapper {
    padding-right: 6%;
  }
  .contacts__list {
    grid-column-gap: 2%;
  }
  .contacts__elem p + p {
    font-size: 1rem;
  }
}
@media (max-width: 1300px) {
  .contacts {
    padding-bottom: 120px;
    padding-top: 80px;
  }
  .contacts #contacts__background1 {
    width: 80px;
    right: -6%;
    top: 15%;
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
    z-index: 10;
  }
  .contacts #contacts__background2 {
    width: 50px;
    left: auto;
    right: 10%;
    top: 35%;
  }
  .contacts #contacts__background3 {
    width: 100px;
    left: auto;
    right: -15%;
    bottom: 22%;
    z-index: 0;
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  .contacts h3 {
    font-size: 2rem;
  }
  .contacts__wrapper {
    padding-right: 0;
    border: 0;
  }
  .contacts__list {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    padding: 20px 18px;
    border-width: 0 1px 1px;
  }
  .contacts__list::before {
    left: -1px;
    content: "";
    position: absolute;
    top: -60px;
    height: 61px;
    width: calc(100% + 2px);
    -webkit-clip-path: polygon(0 60px, 40% 60px, 50% 0, 100% 0, 100% 60px, 99.9% 60px, 99.9% 1px, 50% 1px, 40% 61px, 0 61px);
            clip-path: polygon(0 60px, 40% 60px, 50% 0, 100% 0, 100% 60px, 99.9% 60px, 99.9% 1px, 50% 1px, 40% 61px, 0 61px);
    background: #fff;
  }
  .contacts__list::after {
    display: none;
  }
  .contacts__elem p {
    font-size: 13px;
  }
  .contacts__elem p + p {
    font-size: 1rem;
  }
}
@media (max-width: 900px) {
  .contacts__elem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.join {
  padding: 160px 0;
  position: relative;
  overflow: hidden;
}
.join #join__background1 {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  height: 100%;
}
.join #join__background1 img {
  position: absolute;
}
.join #join__background1 img + img {
  width: 140px;
  margin-left: 65px;
  margin-top: 385px;
  -webkit-transform: rotate(-80deg);
          transform: rotate(-80deg);
  z-index: -2;
}
.join h3 {
  width: 700px;
  font-size: 4.5rem;
  font-weight: 550;
  letter-spacing: 2.16px;
}
.join h3 span {
  font-size: 4.5rem;
  font-weight: 550;
  letter-spacing: 2.16px;
}
@media (max-width: 900px) {
  .join {
    padding: 60px 0;
  }
  .join #join__background1 {
    top: 40px;
  }
  .join #join__background1 img {
    width: 150px;
  }
  .join #join__background1 img + img {
    width: 20px;
    margin-top: 55px;
    margin-left: 9px;
  }
  .join h3 {
    width: 100%;
    font-size: 2rem;
  }
  .join h3 span {
    font-size: 2rem;
  }
}

.form {
  margin-left: auto;
  width: 640px;
}
.form__close {
  display: none;
  margin-left: auto;
  margin-top: 8px;
  margin-right: 8px;
  width: 20px;
  height: 2px;
  position: relative;
  background: #453E60;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.form__close::before {
  content: "";
  position: absolute;
  background: #453E60;
  width: 2px;
  height: 20px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.form__input {
  width: 100%;
}
.form__input input, .form__input select {
  padding: 9px 0;
  border-bottom: 1px solid #453E60;
  width: 100%;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}
.form__input input::-webkit-input-placeholder, .form__input select::-webkit-input-placeholder {
  color: #A6A9CA;
}
.form__input input::-moz-placeholder, .form__input select::-moz-placeholder {
  color: #A6A9CA;
}
.form__input input:-ms-input-placeholder, .form__input select:-ms-input-placeholder {
  color: #A6A9CA;
}
.form__input input::-ms-input-placeholder, .form__input select::-ms-input-placeholder {
  color: #A6A9CA;
}
.form__input input::placeholder, .form__input select::placeholder {
  color: #A6A9CA;
}
.form__input_contacts {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form__input_contacts input {
  display: inline;
  width: 50%;
}
.form__input_last {
  margin-bottom: 32px;
}
.form__submit {
  padding: 15px 40px;
}
.form #phone {
  width: auto;
  margin-right: 24px;
}
@media (max-width: 900px) {
  .form {
    max-width: 640px;
    width: auto;
    margin-top: 80px;
  }
  .form__input input {
    margin-top: 26px;
    font-size: 1rem;
  }
  .form__input_contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form__input_contacts input {
    display: block;
    width: 100%;
    margin-top: 26px;
  }
  .form__input_last {
    margin-bottom: 26px;
  }
  .form #phone {
    padding-top: 26px;
    width: 100%;
    margin-right: 0;
  }
  .form__submit {
    width: 100%;
    display: block;
    background: linear-gradient(77deg, #DED3FC -46.34%, rgba(222, 211, 252, 0) 38.46%), linear-gradient(267deg, #CA9FC3 -18.3%, rgba(202, 159, 195, 0) 66.12%), #7C6EAC;
  }
}

.footer .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5px;
  border: 1px solid #D9D9D9;
  padding: 30px;
}
.footer__links {
  font-weight: 500;
}
.footer__links a + a {
  margin-left: 44px;
}
.footer__up {
  width: 40px;
  height: 40px;
  background: url("../imgs/main-gradient.png");
  border-radius: 2px;
  position: relative;
}
.footer__up::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 15px;
  height: 10px;
  width: 10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
}
.footer__rights {
  padding: 32px 0;
  text-align: center;
  color: #A5A5A5;
  font-weight: 400;
}
@media (max-width: 990px) {
  .footer .row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 32px 14px;
  }
  .footer__links {
    margin-top: 18px;
    width: 100%;
  }
  .footer__links a {
    display: block;
    font-size: 14px;
    font-weight: 400;
  }
  .footer__links a + a {
    margin-left: 0;
    margin-top: 16px;
  }
  .footer__up {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
    margin-left: auto;
    align-self: flex-end;
  }
  .footer__rights {
    font-size: 14px;
  }
}

.slick-dots {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slick-dots li {
  font-size: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #D9D9D9;
}
.slick-dots li + li {
  margin-left: 5px;
}
.slick-dots .slick-active {
  width: 12px;
  height: 12px;
  background: #7C6EAC;
}

.required, .iti--allow-dropdown {
  position: relative;
}
.required::after, .iti--allow-dropdown::after {
  position: absolute;
  content: "*";
  font-size: 22px;
  color: #A6A9CA;
  right: 0;
  bottom: 4px;
}

input.invalid {
  border-color: #F05353;
}
input.invalid::after {
  color: #F05353;
}
input.invalid::-webkit-input-placeholder {
  color: #F05353;
}
input.invalid::-moz-placeholder {
  color: #F05353;
}
input.invalid:-ms-input-placeholder {
  color: #F05353;
}
input.invalid::-ms-input-placeholder {
  color: #F05353;
}
input.invalid::placeholder {
  color: #F05353;
}

.invalid::after {
  color: #F05353;
}

.disabled {
  display: none;
}

#form2 {
  display: none;
}
#form2 input {
  width: 100%;
}

.select-empty {
  color: #A6A9CA;
}

.pop-up {
  margin: 14px;
  padding: 20px;
  width: 90%;
  border-radius: 5px;
  border: 1px solid rgba(69, 62, 96, 0.6588235294);
  margin: 0;
  background: #fff;
  display: block !important;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}
.pop-up .form__close {
  display: block;
}
.pop-up .review__close {
  display: block;
}

.form.pop-up {
  max-width: 460px;
}
.form.pop-up input, .form.pop-up select {
  font-size: 1rem;
}
.form.pop-up a {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 260px;
}
.form.pop-up .iti.iti--allow-dropdown.iti--show-flags {
  width: 100%;
}
.form.pop-up .form__header {
  text-align: center;
  font-size: 18px;
  font-weight: 550;
  text-transform: uppercase;
  position: relative;
}
.form.pop-up .form__close {
  margin-top: 0;
  position: absolute;
  right: 0;
  top: 10px;
}